Pandas:
        1. DataFrame.transpose()
        
DataFrame.transpose(*args, copy=False)

    Transpose index and columns.

    Reflect the DataFrame over its main diagonal by writing rows as columns and vice-versa. The property T is an accessor to the method transpose().

In [1]:
import pandas as pd

#square DataFrame with homogeneous dtype
data1 = {'col1': [1,2], 'col2': [3,4]}
dataframe1 = pd.DataFrame(data =  data1)
data1

{'col1': [1, 2], 'col2': [3, 4]}

we add the transpose function with T

In [3]:
dataframe1_transposed = dataframe1.T #or dataframe1.transpose()
dataframe1_transposed

      0  1
col1  1  2
col2  3  4

In [4]:
dataframe1.dtypes

col1    int64
col2    int64
dtype: object

In [6]:
dataframe1_transposed.dtypes

0    int64
1    int64
dtype: object

Both dataframe1 and dataframe_transposed have the same dtype, dtype is homogeneous in the original DataFrame, the transposed has the same dtype.

In [7]:
#non-square DataFrame with mixed dtypes
d2 = {'name': ['Alice', 'Bob'], 'score': [9.5,8],'kids': [0,0]}
df2 = pd.DataFrame(data=d2)
df2

    name  score  kids
0  Alice    9.5     0
1    Bob    8.0     0

In [8]:
df2_transposed = df2.T
df2_transposed

           0    1
name   Alice  Bob
score    9.5    8
kids       0    0

In [11]:
df2.dtypes

name      object
score    float64
kids       int64
dtype: object

In [12]:
df2_transposed.dtypes

0    object
1    object
dtype: object