Functions < -------------> > > >

In [1]:
def Math(a):
    a = a+23
    return a
Math(23)

46

In [3]:
def stringAddition(a,b):
    c = a + b
    return c

stringAddition("Tomato ", "Sauce")

'Tomato Sauce'

In [7]:
def stringMulti(a,b):        #you can multiply ONLY integers with strings, 
    c= a*b                   #not parameters of string, but fail once code is recycled
    return c
stringMulti(3 , " Jordan is the best!")

' Jordan is the best! Jordan is the best! Jordan is the best!'

In [14]:
index = 0
values = [9 ,3, 4,3]

for value in values:
     print(index, value)
     index = index + 1

0 9
1 3
2 4
3 3

In [15]:
import math
def printStuff(stuff):
    for i,s in enumerate(stuff):
        print(i, "is the first number in list ", s)

numbersList = [3, 1, 9, 4]
printStuff(numbersList)

0 is the first number in list  3
1 is the first number in list  1
2 is the first number in list  9
3 is the first number in list  4

In [16]:
def ArtistsNames(*names):
    for i, name in enumerate(names):
        print(i, name)

In [17]:
ArtistsNames("Michael Jackson", "AC/DC")

0 Michael Jackson
1 AC/DC

VARIABLES ASSIGNED OUTSIDE THE FUNCTION ARE GLOBAL AND PASSED AS ARGUMENT

In [29]:
def multipleNames():
    global multiN
    multiN = ["Michael Jackson", "Taylor Swift", "Jordan Peterson", "Michael Jordan"]
    for i, N in enumerate(multiN):
        if (i+1 == 1):
            print(i, "is the", i+1, "st. name in the list for: ", N)
        elif (i+1 == 2):
             print(i, "is the", i+1, "nd. name in the list for: ", N)
        elif (i+1 == 3):
             print(i, "is the", i+1, "rd. name in the list for: ", N)
        else:
             print(i, "is the", i+1, "th. name in the list for: ", N)
        
multipleNames()

0 is the 1 st. name in the list for:  Michael Jackson
1 is the 2 nd. name in the list for:  Taylor Swift
2 is the 3 rd. name in the list for:  Jordan Peterson
3 is the 4 th. name in the list for:  Michael Jordan